<div id="wrapper" style="text-align: center;">
    <div id="cont" class="ui raised very padded text container segment">
      <h2 class="ui header">
        <img class="ui image medium" src="assets/img/exam.png">
        <div class="content">
          Prüfung
        </div>
      </h2>
        <br>
        <div>
          <button #settingsBtn class="ui small labeled icon button">
            <i class="tasks icon black"></i>
            Settings
          </button>
          <button #startBtn (click)="startExam()" style="margin: 0 80px;" class="ui large labeled icon button">
            <i class="play icon black"></i>
            Start
          </button>
          <button (click)="cancelExam()" class="ui small labeled icon button">
            <i class="step backward icon black"></i>
             {{ state }}
          </button>
        </div>
        <div class="ui segment">
          <h3 *ngIf="examStart === false">Bitte Start drücken zum beginnen!</h3>
          <ltps-question *ngIf="examStart === true"></ltps-question>
        </div>
    </div>
</div>
