#align {
    position: relative;
    left: 20px;
}

#backBtn {
    left: 21px;
}

#scrollable {
    overflow: auto;
    max-height: 75vh;
}

#cont {
    background-color: rgb(243, 243, 243); height: 90vh; 
}

#switch {
    float: right;
    margin: 4px 10px 0 0;
}

.onOff::after {
    
}