<div id="wrapper" style="text-align: center;">
    <div id="cont" class="ui raised very padded text container segment" style="background-color: rgb(243, 243, 243);">
      <h2 class="ui header">
        <img class="ui image" src="assets/img/übung.png">
        <div class="content">
          Übung
        </div>
      </h2>
        <br>
        <div id="btnsTest">
          <button #startBtn (click)="startTest()" style="margin: 0 80px;" class="ui large labeled icon button">
            <i class="play icon black"></i>
            Start
          </button>
          <button (click)="cancelTest()" class="ui small labeled icon button">
            <i class="step backward icon black"></i>
             {{ state }}
          </button>
        </div>
        <div class="ui segment">
          <h3 *ngIf="testStart === false">Bitte Start drücken zum beginnen!</h3>
          <ltps-question *ngIf="testStart === true"></ltps-question>
        </div>
        <div id="centerBar">
          <mat-progress-bar style="text-align: left;" mode="determinate" [value]="this.cs.runVar" color="accent"></mat-progress-bar>
        </div>

    </div>
</div>
