<div id="wrapper" style="text-align: center;">
    <div id="cont" class="ui raised very padded text container segment" style="background-color: rgb(243, 243, 243);">
      <h2 class="ui header">
        <img class="ui image" src="assets/img/übung.png">
        <div class="content">
          Übung
        </div>
      </h2>
        <br>
        <div>
          <button #settingsBtn class="ui small labeled icon button">
            <i class="tasks icon black"></i>
            Settings
          </button>
          <button #startBtn (click)="startTest()" style="margin: 0 80px;" class="ui large labeled icon button">
            <i class="play icon black"></i>
            Start
          </button>
          <button (click)="cancelTest()" class="ui small labeled icon button">
            <i class="step backward icon black"></i>
             {{ state }}
          </button>
        </div>
        <div class="ui segment">
          <h3 *ngIf="testStart === false">Bitte Start drücken zum beginnen!</h3>
          <ltps-question *ngIf="testStart === true"></ltps-question>
        </div>
        <div class="ui progress success">
            <div class="bar">
              <div class="progress"></div>
            </div>
            <div class="label">Fehlerquote</div>
        </div>

    </div>
</div>
