<div *ngIf="this.route.url === '/testmode' && flag === false">
  <div class="ui raised segment">


    <div class="ui red top attached label">
      Warnung
      <a>
        <i (click)="closePopup()" class="ui icon delete icon" style="float: right;"></i>
      </a>
    </div>

    <div class="insideWrapper">

      <div>
        Du machst zu viele Fehler. <br>
        Geh lieber nochmal in den Lernmodus.
      </div>

      <div class="ui divider"></div>

      <button (click)="cs.resetAll()" [routerLink]="['/learn']" class="ui labeled icon button">
        <i class="book icon black"></i>
        Lernmodus
      </button>

      <button (click)="cs.resetAll()" class="ui labeled icon button">
        <i class="redo icon black"></i>
        Erneut versuchen
      </button>

    </div>
  </div>
</div>

<div *ngIf="this.route.url === '/exam' && flag === false">
  <div class="ui raised segment">


    <div class="ui red top attached label">Warnung
      <a (click)="cs.resetAll()" [routerLink]="['/exam']">
        <i class="ui icon delete icon" style="float: right;"></i>
      </a>
    </div>

    <div class="insideWrapper">

      <div>
        Fehlerquote liegt über <i style="color: red;">20%</i> <br>
        Bitte übe noch ein wenig.
      </div>

      <div class="ui divider"></div>

      <button (click)="cs.resetAll()" [routerLink]="['/testmode']" class="ui labeled icon button">
        <i class="thumbtack icon black"></i>
        Übungsmodus
      </button>

      <button (click)="cs.resetAll()" [routerLink]="['/learn']" class="ui labeled icon button">
        <i class="book icon black"></i>
        Lernmodus
      </button>

      <div style="padding-bottom: 8px;"></div> <!-- spacer -->

      <button (click)="cs.resetAll()" class="ui labeled icon button">
        <i class="redo icon black"></i>
        Erneut versuchen
      </button>

    </div>
  </div>
</div>

