<div style="padding-top: 10px;"></div> <!-- spacer -->


<div *ngIf="finishFlag === true">
  <ltps-results [userAnswers]="userAnswersArr"></ltps-results>
</div>

<div *ngIf="finishFlag === false" id="wrapper">


  <div class="ui grid">

    <div class="two wide column">
      <div #previousArw (click)="previousQuestion()" class="btn ui icon button disabled">
        <i class="angle left icon black"></i>
      </div>
    </div>


    <div class="twelve wide column">

      <h4 class="ui header">Frage {{ questions[laufVar].id }}</h4>
      <p> {{ questions[laufVar].question }} </p>

      <div *ngIf="currentRoute === '/learn'">
        <div class="ui raised segment">

          <!-- Zwei For Schleifen ineinander welche gucken wann die ob die richtige Antwort in question.solution ist und bei true es als Grünen text und bei false als roten text ausgeben 
            Funktioniert nur bei Objekten welche nur eine Antwort haben.-->
          <div *ngIf="questions[laufVar].type !== 'multi'">
            <div class="answer" *ngFor="let answer of questions[laufVar].answers; index as i">
              <div *ngFor="let solution of questions[laufVar].solution; index as k">
                <ng-component *ngIf="solution === answer then correctBlock else falseBlock"> </ng-component>
                <ng-template #correctBlock> <i class="right check icon small grey"></i> <i id="correct"> {{ answer }}
                  </i>
                </ng-template>
                <ng-template #falseBlock> <i class="right times icon small grey"></i> <i id="incorrect"> {{ answer }}
                  </i>
                </ng-template>
              </div>
            </div>
          </div>

          <div *ngIf="questions[laufVar].type === 'multi'">
            <div *ngFor="let m of markedArrCp">
              <div *ngIf="m.id === questions[laufVar].id - 1">
              <div class="answer" *ngFor="let answer of m.answers">
                  <ng-component *ngIf="answer.endsWith('*') then sliceBlock else normalBlock"></ng-component>
                  <ng-template #sliceBlock><i class="right check icon small grey"></i> <i id="correct">
                      {{ answer.slice(0, answer.length - 1) }} </i> </ng-template>
                  <ng-template #normalBlock><i class="right times icon small grey"></i> <i id="incorrect"> {{ answer }}
                    </i> </ng-template>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    
    <div class="two wide column">
      <div #nextArw (click)="nextQuestion()" class="btn ui icon button">
        <i class="angle right icon black"></i>
      </div>
    </div>
    
  </div>
</div>
<br>

<!-- Wechselt den Fragetypen je nachdem was in questions.type der aktuellen Frage drin steht -->
<div *ngIf="currentRoute !== '/learn'">
  <div *ngIf="questions[laufVar].type === 'typeIn' && finishFlag === false">
    <ltps-input (answerObj)="answerReciever($event)" [answer]="userAnswersArr[laufVar]" [question]="questions[laufVar]"></ltps-input>
  </div>
  <div *ngIf="questions[laufVar].type === 'multi' && finishFlag === false">
    <ltps-multiple-choice (answerObj)="answerReciever($event)" [answer]="userAnswersArr[laufVar]" [question]="questions[laufVar]"></ltps-multiple-choice>
  </div>
  <div *ngIf="questions[laufVar].type === 'single' && finishFlag === false">
    <ltps-single-choice (checkedObj)="answerReciever($event)" [answer]="userAnswersArr[laufVar]" [question]="questions[laufVar]"></ltps-single-choice>
  </div>
</div>

<div *ngIf="currentRoute === '/learn' && finishFlag === false" style="text-align: center;">
  <div class="ui divider"></div>
  <button (click)="showInfo(laufVar + 1)" class="ui labeled icon button large">
    <i class="info icon black"></i>
    Info Zeigen
  </button>
</div>

<div *ngIf="currentRoute !== '/learn' && userAnswersArr.length === questions.length && userAnswersArr[questions.length - 1].answerArr && finishFlag === false" style="text-align: center;">
  <div class="ui divider"></div>
  <button (click)="showResult()" class="ui labeled icon button large">
    <i class="check icon black"></i>
    Test beenden
  </button>
</div>

<div style="padding-bottom: 10px;"></div> <!-- spacer -->
