<div class="ui top inverted fixed menu">
  <a (click)="this.cs.resetAll()" [routerLink]="['home']" class="item">
    <i class="home icon"></i>
  </a>
  <a (click)="this.cs.resetAll()" [routerLink]="['exam']" class="item">
    <i class="play circle icon"></i>
    Prüfung
  </a>
  <a (click)="this.cs.resetAll()" [routerLink]="['testmode']" class="item">
    <i class="thumbtack icon"></i>
    Übung
  </a>
  <a (click)="this.cs.resetAll()" [routerLink]="['learn']" class="item">
    <i class="book icon"></i>
    Lernen
  </a>

  <div class="items right menu">

    <!-- <div style="color: white;">
      <div>
        {{ this.cs.runVar }}: runVar
      </div>
      <div>
        {{ this.cs.liveWrongCount }}: liveWrongCount
      </div>
      <div>
        {{ this.cs.lifes }}: lifes
      </div>
    </div> -->

    <a (click)="togglePopper()">
      <div class="ui small icon button black">
        <i class="grey large link angle down icon"></i>
      </div>
    </a>

    <div id="popper" *ngIf="popper === true">
      <div id="popperWrapper">
        <img class="ui tiny right floated circular bordered image" src="assets/img/avatar.jpg">
        <p>Developed by: Sven Elberfeld <br>in 2022 <br><br> GitHub: <a
            href="https://github.com/Ryodaa/">github.com/Ryodaa</a></p>
      </div>
    </div>

    <a [routerLink]="['/help']">
      <div class="ui icon button black">
        <i  class="grey help link icon"></i>
      </div>
    </a>

  </div>
</div>
<br><br><br>

<router-outlet></router-outlet>

<div *ngIf="this.cs.lifes === 0 && this.route.url === '/testmode' 
  || cs.liveWrongCount >= qs.questions.length * 0.2 && this.route.url === '/exam'
  || cs.popBool === true && this.route.url === '/testmode' && cs.lifes !== 0">
  <div id="background">
    <div id="popup">
      <ltps-popup></ltps-popup>
    </div>
  </div>
</div>