<div id="wrapper" style="text-align: center;">
    <div id="cont" class="ui raised very padded text container segment" style="background-color: rgb(243, 243, 243);">
        <img class="ui image large centered" src="assets/img/logo.png">
        <h1>Lern Test Prüf Simulator</h1>
        <h4>Für die Linux LPIC-101 Prüfung</h4>
        <br>
        <p>Wilkommen im Lern Test Prüf Simulator! (LTPF)</p>
        <p>Diese App dient der Vorbereitung zur LPIC-101 Prüfung vom Linux Professional Institute und hilft dir dabei das Gelernte wirklich zu verstehen und nicht nur auswendig zu lernen.</p><br>
        <b><p>Viel Erfolg beim Lernen!</p></b>
        <br>
        <div>
          <button (click)="this.cs.resetAll()" [routerLink]="['/exam']" class="ui labeled icon button">
            <i class="play circle icon black"></i>
            Prüfung
          </button>
          <button (click)="this.cs.resetAll()" [routerLink]="['/testmode']" class="ui labeled icon button">
            <i class="thumbtack icon black"></i>
            Übung
          </button>
          <button (click)="this.cs.resetAll()" [routerLink]="['/learn']" class="ui labeled icon button">
            <i class="book icon black"></i>
            Lernen
          </button>
    </div>
</div>